<!-- <h1>App works</h1> -->
<!-- <hinv-rooms [loggedInUserName]="loggedInUserName"></hinv-rooms> -->
<!-- <div #name>

</div> -->
<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitchCase="'Admin'">
    Welcome Admin!
    <button (click) = "loggedInUserNameFucn()"> To check without NgOnChnage</button>
    <hinv-rooms [loggedInUserName]="loggedInUserName"></hinv-rooms>
  </div>
  <div></div>
  <div *ngSwitchDefault>You are not authorized to view this page!</div>
</div> -->
<!-- <hinv-container>
  <hinv-rooms [loggedInUserName]="loggedInUserName"></hinv-rooms>
  <h1> This is from ng content</h1>
  <hinv-employee></hinv-employee>
</hinv-container> -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'"> Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<!-- <router-outlet></router-outlet>  -->
<hinv-app-nav></hinv-app-nav>
